.fullBody{
    justify-content: center;
    left:10%;
    right:10%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 5vh;
    height:100vh;
    width: max-content;
    background-color: white ;
}
.imageOptions{
    float:left;
    background-color: white ;
}
.column{
    width: 300px;
    height: auto;
    background-color: white ;
}
.row{
    display: block;
    float:left;
    color: black;
    width:290px;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}
.smallimgtxt{
      background: transparent;
      margin-top: 7%;
}
.blue{
    background-color: skyblue ;
    color: white;
}

.smallimg{
    float:left;
    height: 50px;
    width:50px;
    object-fit:cover;
    padding:10px;
    border-radius: 20%;
}
.display{
  display: inline;
  padding: 0px 12px;
  width:400px;
  height:100vh;
}
#expandedimg{
    height:90vh;
    width:100%;
    object-fit:cover;
    border-radius: 2%;
    background-color: white ;
}
#imgtext{
    text-align: center;
    background-color: white ;
    width:100%;
}